<div class="container" >
    {% load  static %}

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="{% url 'index' %}"><img src="{% static 'store/images/eshop.png' %}" width="84"
   height="50" alt="logo"></a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Головна сторінка</a></li>

      </ul>

      {% if user.is_authenticated %}
      <div class="col-md-3 text-end">
          <a href="{% url 'profile' %}"><button type="button" class="btn btn-outline-primary me-2">{{ user }}</button></a>
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-primary">Logout</button></a>
      </div>
      {% else %}
      <div class="col-md-3 text-end">
          <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-primary me-2">Login</button></a>
        <a href="{% url 'register' %}"><button type="button" class="btn btn-primary">Sign-up</button></a>
      </div>
      {% endif %}
    </header>
  </div>