{% extends  "base.html" %}
{% block title %} Замовлення {% endblock title %}


{% block content %}
<div class="container">

    {% for order in orders %}
    <div class="card">
        <div class="card-header">
            Замовлення № {{ order.order_number }}:
        </div>
        <div class="card-body">
            <h6>Назва: {{ order.product }}</h6>
            <h6>Статус: {{ order.get_status_display }}</h6>
            <p class="card-text">Комментар до замовлення: {{ comment.owner_comment }}</p>
            <p> Дата замовлення: {{ order.created_at }} </p>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}